.header{
    padding: 20px;
    text-align: center;
    background-color: green;
    color : white;
}
.shop-title{
    color : white;
    font-weight: 700;
}
.shop-img{
    height: 100px;
}
.budget{
    color : #FDC74F;
}